*
{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Playfair;
    src: url('resources/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: InterTight;
    src: url('resources/InterTight-VariableFont_wght.ttf');
}

:root
{
    --valid-color: rgb(0, 255, 0);
    --invalid-color: rgb(255, 0, 0);
    --eerie-black: #000000;
}

body
{
    display: flex;
    background-color: var(--eerie-black);
    flex-direction: row;
    height: 100svh;
    width: 100svw;
}

#backgroundImage
{
    width: calc(33%);
    background: linear-gradient(90deg, var(--eerie-black), rgba(255, 255, 255, 0.1), var(--eerie-black)), url(resources/image.jpeg) no-repeat center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

h1
{
    align-self: center;
    text-align: center;
    font-size: 3rem;
}

#formArea
{
    font-family: InterTight;
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: calc(67%);
    color: white;
}

form
{
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: calc(1rem + 0.25vw);
    width: calc(90%);
    margin: 2%;
    font-family: Playfair;
    line-height: calc(2em);
}

fieldset
{
    backdrop-filter: blur(2.5px);
    margin-bottom: 1em;
    border-radius: 1rem;
    width: calc(98%);
    display: flex;
    flex-wrap: wrap;
}

.infoContainer > label
{
    align-self: flex-start;
    display: inline-block;
    width: max(30%, min-content);
    text-align: right;
    text-wrap: nowrap;
}

input[type=text], input[type=email], input[type=tel], input[type=password]
{
    border-radius: 0.25em;
    border-width: 0.2em;
}

input:focus
{
    outline: none;
}

input[type=text], input[type=email], input[type=tel], input[type=date] {
    &:invalid:not(:placeholder-shown)
    {
        border: solid red;
    }
    &:valid:not(:placeholder-shown)
    {
        border: solid green;
    }
}

.infoContainer
{
    width: calc(48%);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0.5%;
}

.infoContainer > input
{
    right: 0;
    font-size: 1em;
    width: calc(90%);
    border: solid grey;
}

#creditCardCVV, #creditCardExpiry
{
    width: 10ch;
}

select
{
    margin-left: calc(1% + 0.5vw);
    font-size: 0.9em;
}
    
#submit
{
    align-self: center;
    position: relative;
    padding: 1em;
    border-radius: 0.5em;
    border: none;
    transition-duration: 0.75s;
    margin: 1%;
}

#submit:hover
{
    border-radius: 1em;
    box-shadow: 0.1em 0.1em 0.1em var(--eerie-black);
    transition-duration: 1s;
}

@media (max-aspect-ratio: 3/4)
{
    body
    {
        background-image: url(resources/image.jpeg);
        background-position: center;
        background-size:cover;
        background-repeat: no-repeat;
    }
    body::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg,var(--eerie-black), rgba(255,255,255, 0.1),var(--eerie-black)); /* Adjust opacity here (0.5 is 50% opaque) */
        z-index: -1;
    }
    #backgroundImage
    {
        display: none;
    }
    #formArea
    {
        width: calc(100%);
    }
    fieldset
    {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .infoContainer
    {
        width: calc(90%);
        margin-bottom: 1%;
    }
    .infoContainer > input
    {
        height: 1em;
        width: calc(90%);
    }
    :root
    {
        font-size: 3vw;
    }
}